numpy
scipy
scikit-learn
matplotlib
hydra-core
omegaconf
black
isort
pytest
timm
tqdm
scikit-image
tensorboardX
tensorboard
streamlit

torchsde==0.2.6
torchquad==0.4.0
torch_ema==0.3
pykeops==2.1.2
kaleido
pot
wandb