sampler:
  _target_: vgs.models.vgsampler.ValueGradientSampler
  value:
    _target_: vgs.models.modules_temb.FCNet_temb
    in_dim: 10
    out_dim: 1
    hidden_dim: 2048
    t_emb_dim: 2048
    activation: relu
    spec_norm: False
  n_step: 10
  sample_shape: [10]
  s2_schedule: quad
  s2_start: 0.1
  s2_end: 0.001
  alpha_method: vp
  tau: 1
  ema: 0.995
  v_lr: 1e-4
  i_lr: 1e-2

buffer:
  use: True
  n_update: 3

energy_model:
  _target_: vgs.energy.funnel.Funnel
  dim : 10

training:
  n_iter: 10000
  batch_size: 128
  save_iter: 300
  log_iter: 50
  n_eval: 1e5

off_policy:
  noise_scale: 1.25

seed: 0