is_particle_exp: True
final_noise: False
sampler:
  _target_: vgs.models.vgsampler.ValueGradientSampler
  value:
    _target_: vgs.models.modules.invariant_wrapper
    n_particles: 13
    n_dim: 3
    net:
      _target_: vgs.models.modules_temb.FCNet_temb_deeperv3
      in_dim: 78 # n_particles * (n_particles - 1) // 2
      out_dim: 1
      hidden_dim: 512
      t_feature_dim: 512
    dis_reciprocal: True
  n_step: 100
  sample_shape: [39] # n_particles * n_dim
  s2_schedule: exp
  s2_start: 0.05
  s2_end: 1e-4
  alpha_method: ve
  tau: 1
  ema: 0.9
  v_lr: 1e-5
  i_lr: 1e-4
  clip_energy: 100.0
  clip_grad: 1.0
  TD_loss: smooth_l1
  D_effective: 36 # (n_particles-1) * n_dim
  scale_with_D: True


buffer:
  use: True
  n_update: 3


energy_model:
  _target_: vgs.energy.LJ13.LennardJonesPotential
  dim: 39 # n_particles * n_dim
  n_particles: 13
  data_path: vgs/particle_data/LJ13/val_LJ13_2000.npy

training:
  n_iter: 30000
  batch_size: 512
  save_iter: 300
  log_iter: 50
  n_eval: 2000

off_policy:
  noise_scale: 1.2

seed: 0